*{
	margin:0 auto;
	padding: 0;
	font-family: "Helvetica Neue";
	/*-webkit-appearance: none;*/

}

html,body{
	
	height:100%;
}

/*header,footer,.main{
	display: none;
}*/

header{
	background-color:#f8f8f8; 
	width:100%;
	height:55px;
	text-align: center;
	/*padding-top: 20px;*/
	font-family: "Helvetica Neue";
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
}
header p{
	position: absolute;
	top: 20px;
	bottom: 0;
	left: 0;
	right: 0;
	
}
#noise-map{
	display: none;
}
.opening{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background-color: white;
	z-index: 7;
}

#movielogo{
	width: 100%;
	height: 80%;
	position: fixed;
    position: absolute;
    left:0px;
    top:10%;
    object-fit: cover;
    overflow: hidden;
    z-index: 8;
}
#mask{
	position: absolute;
	width: 100%;
	height: 31%;
	left: 0;
	bottom: 0;
	background-color: white;
	z-index: 9;

}

.main{
	height: 100%;
	padding-top: 50px;
	padding-bottom:40px;

}

.main button{
	width:50%;
	height:210px;
	border:solid 1px #f8f8f8;
	background-color: white;
	position: relative;
	z-index: 1;

}
.main button img{
	padding-bottom:20px;
	
}

#button1,#button2{
	float:left;
}
#button3,#button4{
	float:left;
}
#button5,#button6{
	float:left;
}
.btntext{
	font-size: 18px;
}

#img1_c,#img2_c,#img3_c,#img4_c,#img5_c,#img6_c{
	display: none;
}

#nowplaying1,#nowplaying2,#nowplaying3,#nowplaying4,#nowplaying5,#nowplaying6{
	color: #00acc9;
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
	margin:0 auto;
	/*bottom:0;*/

}

#popup1,#popup2,#popup3,#popup4,#popup5,#popup6{
	background-color: white;
	display: inline-block;
	position: absolute;
	position: fixed;
	bottom: -20px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-radius: 10px;
	width:100%;
	height:15%;
	text-align: center;
	z-index: 5;

	display: none;
}

.popup p{
	position: relative;
	top: 5px;
	left: 0;
	right: 0;
	margin:0 auto;
	width: 90%;
	font-size: 32px;
	font-weight: 200;
	padding:20px 0;
	border-bottom: solid 1px #aaaaaa;
	text-align: center;
}
/*.popup button{
	width: 40px;
	height:40px;
	border-radius:50%;
	border: solid 2px #00acc9;
	background-color: #fff;
	position: absolute;
	top: 50px;
	right: 20px;
}*/
#playIcon1,#playIcon2,#playIcon3,#playIcon4,#playIcon5,#playIcon6{
	display: none;
}
.my-pause,.my-play{
	position: absolute;
	right: 30px;
	top: 80px;
	color: #00acc9;
	display: none;
}

.popup img{
	position: absolute;
	top: 60px;
	left: 30px;
}
#overlay{
	display: none;
	/*position: absolute;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 4;
}

#map_101{
	width: 100%;
	height: 100%;
	/*display: none;*/
	z-index: 0;
	margin-top: 50px;
	position: fixed;
	position: absolute;
	top: 0;
	left: 0;
	/*margin-bottom: 60px;*/
}


footer{
	background-color:#f8f8f8; 
	width:100%;
	height:60px;
	position: fixed;
	left: 0;
	bottom: 0;

	z-index: 3;
}

footer button{
	width:50%;
	height: 60px;
	border:solid 1px #f8f8f8;
	background-color: #f8f8f8;
}

.menuL, .menuR{
	float:left;
}
#L-off,#R-on{
	display: none;
}

