*{
	margin:0 auto;
	font-family: "Helvetica Neue";
}

html,body{
	
	height:100%;
}
header{
	background-color:#f8f8f8; 
	width:100%;
	height:50px;
	text-align: center;
	/*padding-top: 20px;*/
	font-family: "Helvetica Neue";
	position: fixed;
	top: 0;
	left: 0;
}
header p{
	position: relative;
	top: 20px;
}
#noise-map{
	display: none;
}

.main{
	
	height: 100%;
	padding-top: 50px;
	padding-bottom:40px;

}

.main button{
	width:50%;
	height:210px;
	border:solid 1px #f8f8f8;
	background-color: white;

}
.main button img{
	padding-bottom: 10px;
}

#button1,#button2{
	float:left;
}
#button3,#button4{
	float:left;
}
#button5,#button6{
	float:left;
}
.btntext{
	font-size: 18px;
}

#img1_c,#img2_c,#img3_c,#img4_c,#img5_c,#img6_c{
	display: none;
}

#nowplaying1,#nowplaying2,#nowplaying3,#nowplaying4,#nowplaying5,#nowplaying6{
	color: #00acc9;
	display: none;
	position: relative;
	/*bottom:0;*/

}

.popup{
	
}
#popup1,#popup2,#popup3,#popup4,#popup5,#popup6{
	background-color: white;
	display: inline-block;
	position: absolute;
	position: fixed;
	bottom: -20px;
	padding-top: 50px;
	padding-bottom: 40px;
	border-radius: 10px;
	width:100%;
	height:15%;
	text-align: center;
	z-index: 9;

	display: none;
}

.popup p{
	position: relative;
	top: 5px;
	width: 90%;
	font-size: 32px;
	font-weight: 200;
	padding:20px 0;
	border-bottom: solid 1px #aaaaaa;
}
/*.popup button{
	width: 40px;
	height:40px;
	border-radius:50%;
	border: solid 2px #00acc9;
	background-color: #fff;
	position: absolute;
	top: 50px;
	right: 20px;
}*/
#playIcon1,#playIcon2,#playIcon3,#playIcon4,#playIcon5,#playIcon6{
	display: none;
}
.my-pause,.my-play{
	position: absolute;
	right: 30px;
	top: 80px;
	color: #00acc9;
	display: none;
}

.popup img{
	position: absolute;
	top: 60px;
	left: 30px;
}
#overlay{
	display: none;
	/*position: absolute;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#map_101{
	width: 100%;
	height: 100%;
	display: none;

	z-index: -1;
}

/*.playber{
	position: absolute;
	position: fixed;
	text-align: center;
	width: 100%;
	height: 40px;
	background-color:rgb(250,250,250);
	bottom: 60px;
}
#playber1,#playber2,#playber3,#playber4,#playber5,#playber6{
	display: none;
}
.playber button{
	width: 100%;
	height: 100%;

}
.playber button p{
	display: inline-block;
}
.playber img{
	position: absolute;
	left: 50px;
	margin:0 auto;
}*/

footer{
	background-color:#f8f8f8; 
	width:100%;
	height:60px;
	position: fixed;
	left: 0;
	bottom: 0;
}

footer button{
	width:50%;
	height: 60px;
	border:solid 1px #f8f8f8;
	background-color: #f8f8f8;
}

.menuL, .menuR{
	float:left;
}
#L-off,#R-on{
	display: none;
}

